### Logic in Python (and pandas)

* &,|,~,^,df.any(),df.all()
* and, or not, xor, any, all

In [3]:
import pandas as pd
import numpy as np

df = pd.DataFrame(
        {'a' : [4, 5, 6],
        'b' : [7, 8, 9],
        'c' : [10, 11, 12]},
        index = pd.MultiIndex.from_tuples(
        [('d',1),('d',2),('e',2)],
        names = ['n', 'v']))
df

     a  b   c
n v
d 1  4  7  10
  2  5  8  11
e 2  6  9  12

In [4]:
df['a'] != 7

n  v
d  1    True
   2    True
e  2    True
Name: a, dtype: bool

In [5]:
df['b'] != 7

n  v
d  1    False
   2     True
e  2     True
Name: b, dtype: bool

In [6]:
df[df['b'] != 7]   # 7이 아닌 값만 가지고 오고 싶을 때

     a  b   c
n v
d 2  5  8  11
e 2  6  9  12

In [9]:
# df.column.isin(values)
# df['a'].isin()
# Use a list of one element instead: values는 리스트 형태

In [10]:
df['a'].isin([5])
# a columns에 원소 5가 포함되어 있는지 확인

n  v
d  1    False
   2     True
e  2    False
Name: a, dtype: bool

In [11]:
pd.isnull(df)
# null값이 없다고 확인

         a      b      c
n v
d 1  False  False  False
  2  False  False  False
e 2  False  False  False

In [12]:
# 임의로 null 값 생성

import numpy as np

df3 = pd.DataFrame(
        {'a' : [4, 5, 6, 6, np.nan],
        'b' : [7, 8, np.nan, 9, 9],
        'c' : [10, 11, 12, np.nan, 12]},
        index = pd.MultiIndex.from_tuples(
        [('d',1),('d',2),('e',2),('e',3),('e',4)],
        names = ['n','v']))

df3

       a    b     c
n v
d 1  4.0  7.0  10.0
  2  5.0  8.0  11.0
e 2  6.0  NaN  12.0
  3  6.0  9.0   NaN
  4  NaN  9.0  12.0

In [13]:
pd.isnull(df3)
# df3에 null 값 찾기

         a      b      c
n v
d 1  False  False  False
  2  False  False  False
e 2  False   True  False
  3  False  False   True
  4   True  False  False

In [15]:
df3['a'].isnull()

n  v
d  1    False
   2    False
e  2    False
   3    False
   4     True
Name: a, dtype: bool

In [16]:
df3['a'].isnull().sum()
# null 값의 총 갯수

1

In [17]:
pd.notnull(df3)

         a      b      c
n v
d 1   True   True   True
  2   True   True   True
e 2   True  False   True
  3   True   True  False
  4  False   True   True

In [19]:
df3.notnull()

         a      b      c
n v
d 1   True   True   True
  2   True   True   True
e 2   True  False   True
  3   True   True  False
  4  False   True   True

In [20]:
df3.a.notnull()

n  v
d  1     True
   2     True
e  2     True
   3     True
   4    False
Name: a, dtype: bool

In [21]:
df3.a.notnull().sum()
# df3 의 notnull의 총 갯수

4

In [23]:
df3.any()

a    True
b    True
c    True
dtype: bool

In [24]:
~df3.a.notnull()

n  v
d  1    False
   2    False
e  2    False
   3    False
   4     True
Name: a, dtype: bool

In [25]:
1 and 1

1

In [26]:
True and False

False

In [27]:
# DataFrame에서 and 사용 불가

In [29]:
# df3[df3.b == 7] | df3[df3.a == 5]  # or 연산자
# DataFrame 에서 사용불가