### Summarize Data_ 판다스로 기본통계 하기

* value_counts() : 시리즈 객체의 고유 값(Unique Value) 개수를 세는 데 사용
* nunique() : 명확한 유일 값(District Unique)의 개수 확인
* describe() $*$(include=/ exclude-) : 산술(숫자) 데이터를 갖는 열에 대한 주요 기술통계 정보(평균, 표준편차, 최대값, 최소값, 중간값) 요약해서 출력

* sum() : 합계
* count() : 개수
* median() : 중간 값, 중위수
* mean() : 평균
* max() : 최댓값
* min(): 최솟값
* var() : 분산
* std() : 표준편차
* corr() : 두 열 간의 상관계수

In [1]:
import pandas as pd
import seaborn as sns
import numpy as np

In [2]:
# iris data 사용

df = sns.load_dataset('iris')
df.shape

(150, 5)

In [3]:
df.head(2)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa

* value_counts() : 시리즈 객체의 고유값(unique value) 갯수를 세는 데 사용

In [4]:
df['species'].value_counts()  # 범주형 데이터

setosa        50
versicolor    50
virginica     50
Name: species, dtype: int64

In [5]:
df['petal_width'].value_counts()  # 숫자형 데이터

0.2    29
1.3    13
1.8    12
1.5    12
1.4     8
2.3     8
1.0     7
0.4     7
0.3     7
2.1     6
2.0     6
0.1     5
1.2     5
1.9     5
1.6     4
2.5     3
2.2     3
2.4     3
1.1     3
1.7     2
0.6     1
0.5     1
Name: petal_width, dtype: int64

In [7]:
pd.DataFrame(df['petal_width'].value_counts())  # 숫자형 데이터

     petal_width
0.2           29
1.3           13
1.8           12
1.5           12
1.4            8
2.3            8
1.0            7
0.4            7
0.3            7
2.1            6
2.0            6
0.1            5
1.2            5
1.9            5
1.6            4
2.5            3
2.2            3
2.4            3
1.1            3
1.7            2
0.6            1
0.5            1

In [8]:
len(df)

150

In [9]:
df.shape[0]    # 행만 가지고 오고 싶을 때

150

In [10]:
df.shape[1]    # 열만 가지고 오고 싶을 때

5

In [11]:
df.shape

(150, 5)

In [12]:
len(df) == df.shape[0]

True

* nunique: 명확한 유일값의 갯수 확인

In [13]:
df['species'].nunique()   # unique 한 갯수가 3개 임을 확인

3

In [14]:
df.describe(include='all')

        sepal_length  sepal_width  petal_length  petal_width species
count     150.000000   150.000000    150.000000   150.000000     150
unique           NaN          NaN           NaN          NaN       3
top              NaN          NaN           NaN          NaN  setosa
freq             NaN          NaN           NaN          NaN      50
mean        5.843333     3.057333      3.758000     1.199333     NaN
std         0.828066     0.435866      1.765298     0.762238     NaN
min         4.300000     2.000000      1.000000     0.100000     NaN
25%         5.100000     2.800000      1.600000     0.300000     NaN
50%         5.800000     3.000000      4.350000     1.300000     NaN
75%         6.400000     3.300000      5.100000     1.800000     NaN
max         7.900000     4.400000      6.900000     2.500000     NaN

In [19]:
df.describe(include=[object])   # object type 만 보여짐

       species
count      150
unique       3
top     setosa
freq        50

In [21]:
df.describe(exclude='object')

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [22]:
df.describe(include='number')    # 숫자형 타입만 보여짐

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [23]:
df['petal_width'].sum()   # 합계

179.90000000000003

In [24]:
df['petal_width'].count()   # 갯수

150

In [25]:
df['petal_width'].median()   #  특정 컬럼(column) 지정, 중위수

1.3

In [27]:
df.median()

C:\Users\jjunghu\AppData\Local\Temp/ipykernel_13212/530051474.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.median()

sepal_length    5.80
sepal_width     3.00
petal_length    4.35
petal_width     1.30
dtype: float64

In [28]:
df['petal_width'].mean()

1.199333333333334

In [29]:
df.mean()

C:\Users\jjunghu\AppData\Local\Temp/ipykernel_13212/3698961737.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.mean()

sepal_length    5.843333
sepal_width     3.057333
petal_length    3.758000
petal_width     1.199333
dtype: float64

In [30]:
pd.DataFrame(df.mean())

C:\Users\jjunghu\AppData\Local\Temp/ipykernel_13212/878473095.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  pd.DataFrame(df.mean())

                     0
sepal_length  5.843333
sepal_width   3.057333
petal_length  3.758000
petal_width   1.199333

In [31]:
df['petal_width'].quantile([0.25, 0.75])   # 1분위수, 3분위수

0.25    0.3
0.75    1.8
Name: petal_width, dtype: float64

In [32]:
df.min()  # 최솟값

sepal_length       4.3
sepal_width        2.0
petal_length       1.0
petal_width        0.1
species         setosa
dtype: object

In [33]:
df.max()  # 최댓값

sepal_length          7.9
sepal_width           4.4
petal_length          6.9
petal_width           2.5
species         virginica
dtype: object

In [34]:
df.var()   # 분산

C:\Users\jjunghu\AppData\Local\Temp/ipykernel_13212/2137731894.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.var()   # 분산

sepal_length    0.685694
sepal_width     0.189979
petal_length    3.116278
petal_width     0.581006
dtype: float64

In [35]:
df.corr()  # 상관관계

              sepal_length  sepal_width  petal_length  petal_width
sepal_length      1.000000    -0.117570      0.871754     0.817941
sepal_width      -0.117570     1.000000     -0.428440    -0.366126
petal_length      0.871754    -0.428440      1.000000     0.962865
petal_width       0.817941    -0.366126      0.962865     1.000000