### 4.데이터 합치기_ Pandas merge

- pd.merge : 데이터프레임 병합
    - How = Left: Left Join
    - How = Right : Right Join
    - How = Inner : Innder Join  
    → 두 데이터프레임이 동시에 해당하는 것만 병합
    - How = Outer : Outer Join  
    → 두 데이터프레임의 모든 값을 병합
    - On = x1 : 'x1' Key를 중심으로 병합

In [1]:
import pandas as pd

In [2]:
adf = pd.DataFrame({'x1': ['A', 'B', 'C'], 'x2':[1, 2, 3]})
adf

  x1  x2
0  A   1
1  B   2
2  C   3

In [3]:
bdf = pd.DataFrame({'x1':['A','B','D'], 'x3':['T','F','T']})
bdf

  x1 x3
0  A  T
1  B  F
2  D  T

In [4]:
pd.merge(adf, bdf, how='left', on='x1')
# left join (ABC로 병합), on은 key를 중심으로 병합

  x1  x2   x3
0  A   1    T
1  B   2    F
2  C   3  NaN

In [5]:
pd.merge(adf, bdf, how='right', on='x1')
# right join (ABC로 병합), on은 key를 중심으로 병합

  x1   x2 x3
0  A  1.0  T
1  B  2.0  F
2  D  NaN  T

In [6]:
pd.merge(adf, bdf, how='inner', on='x1')
# inner join: 두 데이터프레임이 동시에 해당하는 것만 병합

  x1  x2 x3
0  A   1  T
1  B   2  F

In [7]:
pd.merge(adf, bdf, how='outer', on='x1')
# outer join: 두 데이터프레임의 모든 값을 병합

  x1   x2   x3
0  A  1.0    T
1  B  2.0    F
2  C  3.0  NaN
3  D  NaN    T

- Filtering joins: adf[adf.x1.isin(bdf.x1)]

In [8]:
adf.x1

0    A
1    B
2    C
Name: x1, dtype: object

In [9]:
bdf.x1

0    A
1    B
2    D
Name: x1, dtype: object

In [10]:
adf.x1.isin(bdf.x1)

0     True
1     True
2    False
Name: x1, dtype: bool

In [11]:
adf[adf.x1.isin(bdf.x1)]

  x1  x2
0  A   1
1  B   2

In [12]:
adf[~adf.x1.isin(bdf.x1)]  # ~을 제외하고 데이터를 가지고 옴

  x1  x2
2  C   3

In [13]:
ydf = pd.DataFrame({'x1':['A','B','C'], 'x2':[1,2,3,]})
ydf

  x1  x2
0  A   1
1  B   2
2  C   3

In [14]:
zdf = pd.DataFrame({'x1':['B','C','D'], 'x2':[2,3,4]})
zdf

  x1  x2
0  B   2
1  C   3
2  D   4

In [15]:
pd.merge(ydf, zdf)  # defailf: innter join

  x1  x2
0  B   2
1  C   3

In [16]:
pd.merge(ydf, zdf, how='outer')

  x1  x2
0  A   1
1  B   2
2  C   3
3  D   4

In [17]:
pd.merge(ydf, zdf, how='outer', indicator=True)
# indicator=True: 어떻게 병합했는지 알려줌

  x1  x2      _merge
0  A   1   left_only
1  B   2        both
2  C   3        both
3  D   4  right_only

In [19]:
pd.merge(ydf, zdf, how='outer', indicator=True).query('_merge=="left_only"')
# query: 요청한 값만 가지고 옴

  x1  x2     _merge
0  A   1  left_only

In [20]:
pd.merge(ydf, zdf, how='outer', indicator=True
        ).query('_merge == "left_only"'
               ).drop(columns=['_merge'])

  x1  x2
0  A   1