qcut()
- Bin Column을 n개의 Bucket으로 변화시킴
- 숫자형 데이터를 n개의 범주로 구분할 때 사용함

max(axis=1) / min(axis=1)
- axis=1: 열(Column)
- 열에서 가장 큰 값/ 작은 값을 가져올 때 사용함


clip()
- 임계치 값을 지정해서 값을 변화시켜줄 때 사용


abs()
- 절댓값

### qcut으로 binning, bucketing 하기

In [2]:
import pandas as pd
import numpy as np

In [11]:
df = pd.DataFrame({'A':range(1,11), 'B':np.random.randn(10)})
df

    A         B
0   1 -0.292261
1   2  1.334643
2   3  0.829642
3   4 -0.722171
4   5 -0.708031
5   6 -0.648176
6   7 -0.499918
7   8 -0.874556
8   9 -0.016854
9  10  1.858493

In [12]:
df = df.assign(ln_A = lambda x: np.log(x.A))
df

    A         B      ln_A
0   1 -0.292261  0.000000
1   2  1.334643  0.693147
2   3  0.829642  1.098612
3   4 -0.722171  1.386294
4   5 -0.708031  1.609438
5   6 -0.648176  1.791759
6   7 -0.499918  1.945910
7   8 -0.874556  2.079442
8   9 -0.016854  2.197225
9  10  1.858493  2.302585

In [13]:
pd.qcut(df.A, 3, labels=['good', 'median', 'bad'])

0      good
1      good
2      good
3      good
4    median
5    median
6    median
7       bad
8       bad
9       bad
Name: A, dtype: category
Categories (3, object): ['good' < 'median' < 'bad']

In [14]:
pd.qcut(df.B, 2, labels=['good', 'bad'])

0     bad
1     bad
2     bad
3    good
4    good
5    good
6    good
7    good
8     bad
9     bad
Name: B, dtype: category
Categories (2, object): ['good' < 'bad']

* max(axis=1) / min(axis=1)

In [15]:
df.max(axis=0)  # 행에서의 최댓값 가져오기

A       10.000000
B        1.858493
ln_A     2.302585
dtype: float64

In [16]:
df.min(axis=0)   # 행에서의 최솟값 가져오기

A       1.000000
B      -0.874556
ln_A    0.000000
dtype: float64

- clip()

In [17]:
df['A'].clip(lower=-10, upper=10)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
Name: A, dtype: int64

In [18]:
df['B']

0   -0.292261
1    1.334643
2    0.829642
3   -0.722171
4   -0.708031
5   -0.648176
6   -0.499918
7   -0.874556
8   -0.016854
9    1.858493
Name: B, dtype: float64

In [19]:
df['B'].clip(lower=1, upper=3)

0    1.000000
1    1.334643
2    1.000000
3    1.000000
4    1.000000
5    1.000000
6    1.000000
7    1.000000
8    1.000000
9    1.858493
Name: B, dtype: float64

* abs()

In [20]:
df['B']

0   -0.292261
1    1.334643
2    0.829642
3   -0.722171
4   -0.708031
5   -0.648176
6   -0.499918
7   -0.874556
8   -0.016854
9    1.858493
Name: B, dtype: float64

In [21]:
df['B'].abs()   # 절댓값으로 변환

0    0.292261
1    1.334643
2    0.829642
3    0.722171
4    0.708031
5    0.648176
6    0.499918
7    0.874556
8    0.016854
9    1.858493
Name: B, dtype: float64