# 함수 정의하고 호출하기

* 자기소개 함수 정의하고 호출하기

In [1]:
## 자기소개 ##

print('안녕하세요!')
print('저의 이름은 파이썬입니다.')

안녕하세요!
저의 이름은 파이썬입니다.

In [2]:
# 함수 정의
def introduce() : 
    print('안녕하세요!')
    print('저의 이름은 파이썬입니다.')
    
# 함수 호출
introduce()

안녕하세요!
저의 이름은 파이썬입니다.

* 함수 정의를 먼저 한 후 호출하도록 코드를 순차적으로 작성해야 한다.

In [5]:
# # 함수 호출
# introduce2()

# 함수 정의
def introduce2() : 
    print('안녕하세요!')
    print('저의 이름은 파이썬입니다.')
    
    
# 코드는 위에서부터 아래로 순차적으로 실행된다.
# 함수를 호출하는 시점에 함수가 정의되어 있지 않으면 에러 발생

In [6]:
introduce2()

안녕하세요!
저의 이름은 파이썬입니다.

# 매개변수 전달하기

In [9]:
## 자기소개 ##
name = '쩡후'
print('안녕하세요!')
print('저의 이름은 ' +name+'입니다.')

안녕하세요!
저의 이름은 쩡후입니다.

* 매개변수 1개 전달하기

In [11]:
def introduce(name) : 
    print('안녕하세요!')
    print('저의 이름은 ' +name+'입니다.')
    
introduce('쩡후')
introduce('이성현')

안녕하세요!
저의 이름은 쩡후입니다.
안녕하세요!
저의 이름은 이성현입니다.

* 매개변수 여러개 전달하기

In [12]:
## 자기소개 ##
name = '쩡후'
age = 20

print('안녕하세요!')
print('저의 이름은 ' +name+'입니다.')
print('나이는 ' +str(age)+'살입니다.')

안녕하세요!
저의 이름은 쩡후입니다.
나이는 20살입니다.

In [13]:
def introduce2(name, age) : 
    print('안녕하세요!')
    print('저의 이름은 ' +name+'입니다.')
    print('나이는 ' +str(age)+'살입니다.')
    
introduce2('쩡후', 22)
introduce2('이성현', 30)

안녕하세요!
저의 이름은 쩡후입니다.
나이는 22살입니다.
안녕하세요!
저의 이름은 이성현입니다.
나이는 30살입니다.

# 연습문제
* 이름과 나이를 입력받아 생일축하 메시지를 출력하는 함수를 만들고 호출하세요.
* 생일문구 : ooo님의 oo번째 생일을 축하합니다!!

In [14]:
def birthday(name, age) : 
    print(name, '님의 ' +str(age)+'번째 생일을 축하합니다!!')
    
birthday('쩡후', 22)
birthday('이성현', 30)

쩡후 님의 22번째 생일을 축하합니다!!
이성현 님의 30번째 생일을 축하합니다!!

In [17]:
name = input('이름: ')
age = input('나이: ')

def birthday(name, age) : 
    print(f'{name}님의 {age}번째 생일을 축하합니다!!!')
    
birthday(name, age)

이름: 이성현
나이: 30
이성현님의 30번째 생일을 축하합니다!!!

# 값 1개 반환하기

In [18]:
# 두 수를 매개변수로 받아 더한 후 결과를 리턴하는 함수 만들기

def get_plus(n1, n2) : 
    return n1 + n2

print(get_plus(22, 30))

52

In [19]:
plus = get_plus(22, 30)
print('plus: ', plus)

plus:  52

# 값 여러개 반환하기
* 여러개의 값을 하나의 튜플로 묶어서 반환한다.

In [20]:
# 두 수를 매개변수로 받아 더한값과 뺀 값을 리턴하는 함수 만들기

def get_plus_minus(n1, n2) : 
    return n1+n2, n1-n2

print(get_plus_minus(30, 22))

(52, 8)

In [21]:
result = get_plus_minus(30, 22)
print('plus: ', result[0])
print('minus: ', result[1])

plus:  52
minus:  8

# 함수에서 빠져나오기
* return을 만나면 함수를 빠져나온다.
* 반환할 값이 있다면 값을 반환하고 빠져나오고, 없다면 그냥 빠져나온다.

In [23]:
# 정수를 입력받아 0, 짝수, 홀수 여부를 리턴하는 함수 만들기

def is_odd_even_0(number) :
    if number == 0 : 
        result = 0
    
    elif number % 2 == 1 : 
        result = '홀수'
    
    else : 
        result = '짝수'
        
    return result

is_odd_even_0(46)

'짝수'

In [24]:
is_odd_even_0(57)

'홀수'

# 연습문제
* 소수 여부 판단하기
매개변수로 전달받은 수가 소수인지 아닌지 판별하는 함수를 작성하고 호출하세요.

* 소수란 : 1과 자기 자신으로만 나누어 떨어지는 1보다 큰 양의 정수

In [28]:
def is_prime(number) : 
    if number <= 1 : 
        return False
    
    for i in range(2, number) : 
        if number % i == 0 :
             return False
            
    return True


is_prime(17)

True

# 위치인수

* 기본적인 인수 전달방법이다.
* 함수에 정의된 매개변수와 순서에 맞게 짝을 맞추어 인수를 전달한다.

In [29]:
def greet(name, msg) : 
    print('안녕', name, msg)
    
greet('친구', '오랜만이야')

안녕 친구 오랜만이야

# 디폴트인수

* 함수를 정의할 때 매개변수에 디폴트값을 지정하면 디폴트값이 지정된 인수를 생략할 수 있다.

In [30]:
def greet(name, msg = '오랜만이야') : 
    print('안녕!', name, msg)
    
greet('친구')
greet('친구', '반가워')

안녕! 친구 오랜만이야
안녕! 친구 반가워

* 디폴트 인수는 기본 위치 인수를 다 적은 다음에 적어야 한다.

In [31]:
def greet(name = '친구', msg) : 
    print('안녕!', name, msg)
    
greet('반가워')

SyntaxError: non-default argument follows default argument (Temp/ipykernel_17920/3246192479.py, line 1)

# 키워드인수

* 함수를 호출할 때 인수의 이름을 명시하면, 순서를 바꾸어 전달할 수 있다.

In [32]:
def get_minus(x, y, z) : 
    return x-y-z

print(get_minus(5, 10, 15))
print(get_minus(5, z=15, y=10))

-20
-20

* 키워드 인수는 기본 위치 인수를 다 적은 다음에 적어야 한다.

In [33]:
def get_minus(x,y,z):
    return x-y-z

print(get_minus(z=15, y=10, 5))

SyntaxError: positional argument follows keyword argument (Temp/ipykernel_17920/3952058113.py, line 4)

# 가변인수

* 인수를 하나의 튜플이나 리스트로 전달한다.

In [41]:
# 가변적인 수를 하나의 리스트/튜플로 받아서 수의 평균을 리턴하는 함수  

def average(args) : 
    print(args)
    return sum(args)/len(args)

print(average([1,2,3]))
print(average([1,2,3,4,5]))

[1, 2, 3]
2.0
[1, 2, 3, 4, 5]
3.0

args는 정해지지 않은 수의 (일반)파라미터를 받고

kwargs는 정해지지 않은 수의 키워드파라미터를 받음

* 매개변수에 '*'를 붙이면 여러개의 인수를 하나의 튜플로 받는다.
* 인수의 갯수는 가변적이다.

In [40]:
# 가변적인 수를 받아서 수의 평균을 리턴하는 함수

def average(*args):
    print(args)
    return sum(args)/len(args)

average(1,2,3)

(1, 2, 3)

2.0

* print함수의 위치인수, 키워드인수

In [43]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [45]:
print(1,2,3, sep='@')
print(1,2,3)
print(4, 5)

1@2@3
1 2 3
4 5

# 전역변수
* 함수 밖에서 생성된 변수
* 함수 내에서도 사용할 수 있다.

In [46]:
say1 = 'hello'

def sayhello() : 
    print(say1)
    
sayhello()

hello

# 지역변수
* 함수 내에서 생성된 변수
* 함수 내에서만 사용할 수 있다.

In [49]:
def saygoodbye() : 
    say2 = 'goodbye'  # 지역번수
    print(say2)
    
saygoodbye()

# print(say2)

goodbye

# 함수 안에서 전역변수 값 변경하기

* 함수 내에서 전역변수 값을 변경하려면 'global' 키워드를 함께 사용하여야 한다.
* global을 사용하지 않으면 동일한 이름의 지역변수가 생성되어 사용된다.

In [50]:
n1 = 1    # 전역변수
n2 = 10

def get_plus_minus() : 
    n1 = 2   # 지역변수
    plus = n1 + n2
    minus = n1 - n2
    return plus, minus

print(get_plus_minus())   # 지역변수에 정의된 값으로 계산
print(n1)                 # 전역변수 정의된 값 출력

(12, -8)
1

In [51]:
n1 = 1
n2 = 10

def get_plus_minus() : 
    global n1     # 전역 변수 값을 변경, 전역변수로 정의된 값 활용(global)
    n1 = 2
    plus = n1 + n2
    minus = n1 - n2
    return plus, minus

print(get_plus_minus())
print(n1)

(12, -8)
2

# 람다표현식
* lambda 매개변수1, 매개변수2, ... : 수식
* 식 형태로 되어있어서 람다표현식(lambda experssion)이라고 부른다.
* 람다표현식은 이름이 없는 익명함수이다.

In [52]:
# 두 수를 매개변수로 받아 더한 결과를 리턴하는 함수
def get_plus(n1, n2):
    return n1+n2

get_plus(1,2)

3

In [53]:
# 람다표현식으로 만들기
lambda n1, n2: n1+n2

# 람다표현식 사용하기
(lambda n1, n2: n1+n2)(1,2)

3

In [54]:
# 람다표현식을 프로그램 내에서 재사용하고 싶다면, 람다표현식을 변수에 담아서 사용한다.
lambda_plus = lambda n1, n2: n1+n2

# 변수로 람다표현식 담아 호출하기

print(lambda_plus(1,2))
print(lambda_plus(3,5))

3
8

# map함수
* map은 리스트나 튜플의 각 요소를 지정된 함수로 처리해주는 함수이다.
* 원본리스트를 변경하지 않고 새 리스트를 생성한다.
* list(map(함수, 리스트))
* tuple(map(함수, 튜플))

In [56]:
# map함수를 이용하여 리스트 a의 각 요소를 정수화 하여 새로운 리스트로 만들기
a = ['1', '2', '3', '4']

b = list(map(lambda x: int(x), a))
c = list(map(int, a))

print(b)
print(c)

[1, 2, 3, 4]
[1, 2, 3, 4]

# map함수에 람다표현식 사용하기

In [57]:
# 아래 리스트 l1에 1을 더한 l2 리스트 만들기
l1 = [1,2,3,4,5]

l2 = list(map(lambda x: x+1, l1))
print(l2)

[2, 3, 4, 5, 6]

# 람다표현식에 조건부표현식 사용하기

* lambda 매개변수들:식1 if 조건식 else 식2

In [59]:
# 아래 리스트에서 짝수는 float로 바꾸고, 홀수는 str로 바꾸기
l1 = [1,2,3,4,5,6,7,8,9,10]

list(map(lambda x: float(x) if x % 2 == 0 else str(x), l1))

['1', 2.0, '3', 4.0, '5', 6.0, '7', 8.0, '9', 10.0]