# 리스트, 튜플 만들기

## 리스트 만들기

In [1]:
# []를 사용하여 빈 리스트 만들기

l1 = []
l1

[]

In [2]:
# list() 함수를 사용하여 빈 리스트 만들기

l2 = list()
l2

[]

In [4]:
# []를 사용하여 초기값이 있는 리스트 만들기

l3 = [1, 3, 5, 7, 9]
l3

[1, 3, 5, 7, 9]

In [5]:
# list() 함수를 사용하여 초기값이 있는 리스트 만들기(규칙이 있는 정수값의 나열)

l4 = list(range(1, 100, 2))
l4

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]

## 튜플 만들기

In [6]:
# ( )를 사용하여 빈 튜플 만들기

t1 = ()
t1

()

In [7]:
# tuple() 함수를 사용하여 빈 튜플 만들기

t2 = tuple()
t2

()

In [8]:
# ( )에 초기값 지정하여 튜플 만들기

t3 = (1, 3, 5, 7, 9)
t3

(1, 3, 5, 7, 9)

In [10]:
# tuple() 함수를 사용하여 초기값이 있는 튜플 만들기(규칙이 있는 정수값의 나열)

t4 = tuple(range(1, 100, 2))
t4

(1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99)

In [11]:
# 튜플을 만들 때 괄호()를 생략할 수 있다.

t5 = 1, 3, 5, 7, 9
t5

(1, 3, 5, 7, 9)

In [12]:
# 항목이 1개일 때는 ,를 붙인다.

t6 = (1, )
print(t6)
type(t6)

(1,)

tuple

In [13]:
t7 = 1,
print(t7)
type(t7)

(1,)

tuple

# 리스트, 튜플의 자료형
* 모든 자료형이 혼합되어 들어갈 수 있다.

In [14]:
myinfo = ['amy', 20, 165.5, ['독서', '코딩']]
myinfo

['amy', 20, 165.5, ['독서', '코딩']]

In [15]:
myinfo = ('amy', 20, 165.5, ['독서', '코딩'])
myinfo

('amy', 20, 165.5, ['독서', '코딩'])

# 리스트, 튜플 연결하기

In [16]:
l1 = ['사과','딸기','포도']
l2 = ['포도','수박']

l1 + l2

['사과', '딸기', '포도', '포도', '수박']

In [17]:
t1 = ('빨','주')
t2 = ('노','초','파','남','보')

t1 + t2

('빨', '주', '노', '초', '파', '남', '보')

# 리스트, 튜플 반복하기

In [18]:
l = ['먹고','자고']

l * 5

['먹고', '자고', '먹고', '자고', '먹고', '자고', '먹고', '자고', '먹고', '자고']

In [19]:
t = ('놀고','먹고','자고')

t * 3

('놀고', '먹고', '자고', '놀고', '먹고', '자고', '놀고', '먹고', '자고')

# 리스트, 튜플에 값 존재여부 확인
* 멤버연산자 : in, not in

In [20]:
l = [1, 2, 3, 4, 5]

print(5 in l)
print(10 in l)

print(5 not in l)
print(10 not in l)

True
False
False
True

In [21]:
t = (1, 2, 3, 4, 5)

print(5 in t)
print(10 in t)

print(5 not in t)
print(10 not in t)

True
False
False
True

# 리스트, 튜플 항목의 갯수 구하기
* len(리스트명)
* len(튜플명)

In [22]:
l = [1,3,2,4,3,5,7,8,77.7,88.8,'a','b','c',[10,20,30]]
len(l)

14

In [23]:
t = ((1,2),[3,4])
len(t)

2

# 인덱싱
* 인덱스로 리스트, 튜플 항목 추출하기

## 리스트 인덱싱
* 리스트명[인덱스]

In [24]:
l1 = ['축구','농구','배구','야구','족구','발야구','피구']

In [25]:
# l1 항목수
len(l1)

7

In [27]:
# '축구'

print(l1[0])
print(l1[-7])

축구
축구

In [28]:
# '배구'

print(l1[2])
print(l1[-5])

배구
배구

In [29]:
# '피구'

print(l1[6])
print(l1[-1])

피구
피구

## 튜플 인덱싱
* 튜플명[인덱스]

In [30]:
t1 = ('스키','보드','스케이트','스케이트보드','수상스키','웨이크보드')

In [31]:
# t1 항목수
len(t1)

6

In [32]:
# '스키'

print(t1[0])
print(t1[-6])

스키
스키

In [33]:
# '웨이크보드'

print(t1[5])
print(t1[-1])

웨이크보드
웨이크보드

## 중첩리스트 인덱싱

In [34]:
# 아래 리스트 l에서 '수박' 인덱싱하여 가져오기

l2 = ['사과','오렌지','포도',['수박','바나나']]
print(l2[3][0])

수박

In [35]:
# 아래 튜플 t에서 'Life' 인덱싱하여 가져오기

t2 = (1,2,('a','b',('Life','is')))
print(t2[2][2][0])

Life

# 슬라이싱
* 리스트명[시작인덱스:끝인덱스:간격]
* 튜플명[시작인덱스:끝인덱스:간격]

In [36]:
l1 = ['축구','농구','배구','야구','족구','발야구','피구']

In [38]:
# ['농구','배구']

print(l1[1:3])

['농구', '배구']

In [40]:
# ['축구','농구','배구']

print(l1[0:3])
print(l1[:3])

['축구', '농구', '배구']
['축구', '농구', '배구']

In [46]:
# ['족구','발야구']

print(l1[4:6])
print(l1[-3:-1])

['족구', '발야구']
['족구', '발야구']

In [47]:
# ['족구','발야구','피구']

print(l1[4:7])
print(l1[-3:])

['족구', '발야구', '피구']
['족구', '발야구', '피구']

In [48]:
# 모든 항목

print(l1[:])

['축구', '농구', '배구', '야구', '족구', '발야구', '피구']

In [49]:
# 모든 항목 역순으로

print(l1[::-1]) # 뒤에서 -1씩 가니까

['피구', '발야구', '족구', '야구', '배구', '농구', '축구']

In [52]:
# ['발야구','족구','야구']

print(l1[-2:-5:-1])

['발야구', '족구', '야구']

In [53]:
# 아래 리스트 l3에서 홀수만 슬라이싱하기

l3 = list(range(1,21))
print(l3[::2])

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

# 항목의 인덱스 찾기
* 리스트명.index(항목)
* 튜플명.index(항목)

In [55]:
t1 = ('스키','보드','스케이트','스케이트보드','수상스키','웨이크보드')

In [56]:
# '스케이트'의 인덱스 찾기

t1.index('스케이트')

2

In [58]:
# '오토바이'의 인덱스 찾기

t1.index('오토바이')

ValueError: tuple.index(x): x not in tuple

In [59]:
if '오토바이' in t1 : 
    print(t1.index('오토바이'))
    
else : 
    print('존재하지 않음')

존재하지 않음

# 리스트에 항목 추가하기

## 리스트 끝에 항목 추가하기
* 리스트명.append(항목)

In [68]:
todolist = ['양치','물마시기']

In [69]:
# '아침운동' 항목 추가하기

todolist.append('아침운동')
print(todolist)

['양치', '물마시기', '아침운동']

## 리스트 중간에 항목 삽입하기

* 리스트명.insert(인덱스, 항목)

In [70]:
# '아침운동'하기 전에 '아침식사'

todolist.insert(2, '아침식사')
print(todolist)

['양치', '물마시기', '아침식사', '아침운동']

## 리스트 끝에 여러 항목 추가하기
* 리스트명.extend(리스트)

In [71]:
# '아침운동' 후에 ['샤워','드라이','공부']

todolist.extend(['샤워', '드라이', '공부'])
print(todolist)

['양치', '물마시기', '아침식사', '아침운동', '샤워', '드라이', '공부']

# 리스트 항목 수정하기

## 하나의 항목 수정하기
* 리스트명[인덱스] = 항목

In [72]:
# 아침운동-->산책으로 수정

todolist[3] = '산책'
print(todolist)

['양치', '물마시기', '아침식사', '산책', '샤워', '드라이', '공부']

## 여러 항목 수정하기
* 리스트명[시작인덱스:끝인덱스] = 리스트

In [73]:
# '아침식사','산책' --> '독서','산책','아침식사'

todolist[2:4] = ['독서', '산책', '아침식사']
print(todolist)

['양치', '물마시기', '독서', '산책', '아침식사', '샤워', '드라이', '공부']

# 리스트 항목 삭제하기

## 인덱스를 이용하여 항목 삭제
* del 리스트명[인덱스]

In [74]:
# 마지막 인덱스 삭제

del todolist[-1]
print(todolist)

['양치', '물마시기', '독서', '산책', '아침식사', '샤워', '드라이']

## 항목값을 이용하여 삭제
* 리스트.remove(항목)     
항목이 여러개인 경우 앞의 인덱스만 삭제

In [75]:
# '양치' 삭제

todolist.remove('양치')
print(todolist)

['물마시기', '독서', '산책', '아침식사', '샤워', '드라이']

## 마지막 항목을 반환하고 삭제
* 리스트.pop()

In [76]:
a = todolist.pop()
print(a)
print(todolist)

드라이
['물마시기', '독서', '산책', '아침식사', '샤워']

# 연습문제

* 아래 wishlist의 '시계','신발'을 myCart로 이동해봅시다.

In [84]:
wishlist = ['가방','시계','신발']
mycart = []

In [85]:
mycart.extend(wishlist[1:3])
del wishlist[1:3]
print(mycart)
print(wishlist)

['시계', '신발']
['가방']

# 리스트의 통계값 구하기
* 항목수 : len(리스트명)
* 합계 : sum(리스트명)
* 최소값 : min(리스트명)
* 최대값 : max(리스트명)
* 항목의 갯수 : 리스트명.count(항목)

In [86]:
l = [1,2,3,4,5,3,4,5]
print('항목수:', len(l))
print('합계:', sum(l))
print('최소값:', min(l))
print('최대값:', max(l))
print('평균:', sum(l)/len(l))
print('항목5의 갯수:', l.count(5))

항목수: 8
합계: 27
최소값: 1
최대값: 5
평균: 3.375
항목5의 갯수: 2

# 리스트 정렬하기

## 원본리스트 정렬
* 리스트명.sort()
* 리스트명.sort(reverse=True) : 내림차순

In [87]:
friends = ['닥터윌','수지','지은','찬혁','수현','범준']

In [90]:
friends.sort()
print(friends)

['닥터윌', '범준', '수지', '수현', '지은', '찬혁']

In [92]:
friends.sort(reverse=True)
print(friends)

['찬혁', '지은', '수현', '수지', '범준', '닥터윌']

## 복사본 만들어서 정렬
* sorted(리스트명)
* sorted(리스트명, reverse=True) : 내림차순

In [94]:
friends = ['닥터윌','수지','지은','찬혁','수현','범준']

In [98]:
sorted_friends = sorted(friends)
print(sorted_friends)

['닥터윌', '범준', '수지', '수현', '지은', '찬혁']

In [99]:
sorted_friends = sorted(friends, reverse = True)
print(sorted_friends)

['찬혁', '지은', '수현', '수지', '범준', '닥터윌']

## 리스트 순서 뒤집기
* 리스트명.reverse()

In [100]:
friends = ['닥터윌','수지','지은','찬혁','수현','범준']

In [101]:
friends.reverse()
print(friends)

['범준', '수현', '찬혁', '지은', '수지', '닥터윌']

In [107]:
friends = ['닥터윌','수지','지은','찬혁','수현','범준']
friends[::-1]

['범준', '수현', '찬혁', '지은', '수지', '닥터윌']

# 2차원리스트 다루기

* 2차원리스트 만들기
||0열|1열|2열|
|--|--|--|--|
|0행|10|20|30|
|1행|40|50|60|

In [109]:
# 리스트 만들기
l2 = [[10, 20, 30], [40, 50, 60]]

# 30 추출하기
print(l2[0][2])

# 1행 2열 추출하기
print(l2[1][2])

30
60

* 연습   
파일리스트에서 파일명과 확장자를 분리하여 다음과 같은 형태로 저장하는 리스트를 만들어봅시다.
|파일명|확장자|
|--|--|
|file1|py|
|file2|txt|
|file3|pptx|

In [110]:
file_list = ['file1.py','file2.txt','file3.pptx']
name_extension = []

for i in file_list : 
    name_extension.append(i.split('.'))
    
print(name_extension)

[['file1', 'py'], ['file2', 'txt'], ['file3', 'pptx']]

# 학생별 총점,평균 구하기


* 다음은 학생 별 [국어,영어,수학]점수가 저장된 리스트이다.    
score_list = [[96,84,80],[96,86,76],[76,95,83],[89,96,69],[90,76,91]]   
각 학생의 세 과목의 성적의 [총점, 평균]을 구하여 리스트에 담으시오.    
(평균은 반올림하여 소수점 1자리까지 표현한다.)

In [1]:
score_list = [[96,84,80],[96,86,76],[76,95,83],[89,96,69],[90,76,91]]
stu_scores = []

for i in score_list:
#   total = i[0] + i[1] + i[2]
    total = sum(i)
    avg = total / len(i)
    mylist = [total, round(avg, 1)]
    
    stu_scores.append(mylist)
    
print(stu_scores)

[[260, 86.7], [258, 86.0], [254, 84.7], [254, 84.7], [257, 85.7]]

# 과목별 평균 구하기

* 다음은 학생 별 [국어,영어,수학]점수가 저장된 리스트이다.       
score_list = [[96,84,80],[96,86,76],[76,95,83],[89,96,69],[90,76,91]]         
각 과목의 리스트를 분리하고 과목별 평균을 구해봅시다.
평균은 소수점 1자리까지 출력한다.

In [2]:
score_list = [[96,84,80],[96,86,76],[76,95,83],[89,96,69],[90,76,91]]
korean_list = []
english_list = []
math_list = []

for i in score_list:
    kor = i[0]
    eng = i[1]
    math = i[2]
    
    korean_list.append(kor)
    english_list.append(eng)
    math_list.append(math)
    
print(korean_list)
print(english_list)
print(math_list)

[96, 96, 76, 89, 90]
[84, 86, 95, 96, 76]
[80, 76, 83, 69, 91]

In [3]:
kor_avg = sum(korean_list) / len(korean_list)
eng_avg = sum(english_list) / len(english_list)
math_avg = sum(math_list) / len(math_list)

print(round(kor_avg, 1))
print(round(eng_avg, 1))
print(round(math_avg, 1))

89.4
87.4
79.8

# 랜덤 항목 추출하기
* random.choice(리스트명)

In [5]:
import random

In [6]:
menulist = ['한식','일식','중식','양식','분식','이탈리아식']
print('오늘은 뭘먹지?', random.choice(menulist))

오늘은 뭘먹지? 중식

* 메뉴를 입력받아 랜덤으로 메뉴를 정하는 프로그램을 작성해봅시다.     
공백('')을 입력할 때까지 메뉴를 입력받습니다.

In [8]:
menulist = []

while True : 
    menu = input('메뉴: ')
    if menu == '':
        break
    menulist.append(menu)
    
print('오늘의 메뉴는: ', random.choice(menulist))

메뉴: 양식
메뉴: 일식
메뉴: 중식
메뉴: 한식
메뉴: 야식
메뉴:
오늘의 메뉴는:  일식