# 출력하기

## 기본출력

* print(value1, value2, ...,)

In [1]:
# hello 출력하기
print('hello')
print("hello")

hello
hello

In [2]:
# hello, python 출력하기
print('hello', 'python')

hello python

In [3]:
# 계산식 출력하기(1+1=2)
print('1+1=', 1+1)

1+1= 2

## 구분자 지정

* print(value1, value2, ..., sep='구분자')

In [4]:
# .로 구분(hello.python)

print('hello', 'python', sep='.')

hello.python

In [6]:
# 공백없이 붙여서 출력

print('hello', 'python', sep='')
print('1+1=', 1+1, sep='')

hellopython
1+1=2

## 끝문자 지정

* print(value1, value2, ..., end='끝문자')

In [8]:
# 공백으로 끝내기 (안녕하세요 반값습니다)

print('안녕하세요', end = ' ')
print('반갑습니다')

안녕하세요 반갑습니다

In [9]:
# !!로 끝내기 (안녕하세요!! 반갑습니다!!)

print('안녕하세요', end = '!!')
print('반갑습니다', end = '!!')

안녕하세요!!반갑습니다!!

## 여러 줄 한번에 출력하기

* 홑따옴표 세개(''') 혹은 쌍따옴표 세개(""")로 묶는다.

In [10]:
print('자세히 보아야 예쁘다.')
print('오래 보아야 사랑스럽다.')
print('너도 그렇다.')

자세히 보아야 예쁘다.
오래 보아야 사랑스럽다.
너도 그렇다.

In [11]:
print('''
자세히 보아야 예쁘다.
오래 보아야 사랑스럽다.
너도 그렇다.
''')

자세히 보아야 예쁘다.
오래 보아야 사랑스럽다.
너도 그렇다.

In [12]:
print("""
자세히 보아야 예쁘다.
오래 보아야 사랑스럽다.
너도 그렇다.
""")

자세히 보아야 예쁘다.
오래 보아야 사랑스럽다.
너도 그렇다.

# 주석달기

* 프로그램에 대한 설명을 적을 때, 코드의 실행을 잠시 막아둘 때 주석을 사용한다.
* 파이썬에서는 샵('#')을 주석 기호로 사용한다.

In [13]:
## 주석에 대한 코드입니다 ##
print(1)  # 주석
# print(2)
print(3)

1
3

# 들여쓰기

* 파이썬에서는 들여쓰기 자체가 문법입니다.
* 파이썬 들여쓰기 방법은 공백2칸, 공백4칸 등 여러가지 방법이 있지만 보통 공백4칸을 사용합니다.

In [15]:
print('hello1')
#  print('hello2')

hello1

# 오류 해석하기

## 파이썬에서는 대소문자를 구분한다.

In [16]:
Print('hello')

NameError: name 'Print' is not defined

## 따옴표의 짝이 맞아야한다.

In [17]:
print('hello'')

SyntaxError: EOL while scanning string literal (Temp/ipykernel_16512/353353896.py, line 1)

## 괄호의 짝이 맞아야한다.

In [18]:
print('hello'}

SyntaxError: closing parenthesis '}' does not match opening parenthesis '(' (Temp/ipykernel_16512/670788223.py, line 1)

# 변수 만들기

## 변수에 값 할당하기

* 변수명 = 변수값
* 변수에 값이 할당될 때 변수값의 자료형에 따라 변수의 자료형이 결정된다.

In [19]:
name = 'james'
age = 20
height = 175.0
ischild = age < 20

## 변수 값, 자료형 출력하기

* 변수에 접근할 때는 변수명을 사용한다.
* 변수값 출력: print(변수명)
* 변수자료형 출력: print(type(변수명))

In [20]:
print(name)
print(type(name))

james
<class 'str'>

In [21]:
print(age)
print(type(age))

20
<class 'int'>

In [22]:
print(height)
print(type(height))

175.0
<class 'float'>

In [23]:
print(ischild)
print(type(ischild))

False
<class 'bool'>

## 쌍따옴표나 홑따옴표가 포함되어 있는 문자열 사용하기

* 홑따옴표가 포함되어 있는 문자열 사용하기
    
    '낮말'은 새가 듣고 '밤말'은 쥐가 듣는다.

In [24]:
a = "'낮말'은 새가 듣고 '밤말'은 쥐가 듣는다."
print(a)

'낮말'은 새가 듣고 '밤말'은 쥐가 듣는다.

* 쌍따옴표가 포함되어 있는 문자열 사용하기

    "시간은 금"이라는 말이 있다.

In [25]:
b = '"시간은 금"이라는 말이 있다.'
print(b)

"시간은 금"이라는 말이 있다.

# 키보드로 변수에 값 입력받기

* input()
* input으로 입력받은 값은 무조건 str

In [26]:
a = input('나이: ')

나이: 20

In [27]:
type(a)

str

## 자료형 변환하기

* int(value): int형으로 변환

In [28]:
age = int('20')
type(age)

int

* str(value): str형으로 변환

In [29]:
age = str(20)
type(age)

str

* float(value): float형으로 변환

In [30]:
age = float(20)
print(age, type(age))

20.0 <class 'float'>

* input으로 입력받은 값을 숫자형으로 변환하여 사용하기

In [32]:
a = int(input('나이: '))

나이: 20

In [33]:
type(a)

int

# 산술연산

In [34]:
a, b = 3, 4

print('a+b=', a+b)
print('a-b=', a-b)
print('a*b=', a*b)
print('a/b=', a/b)
print('a//b=', a//b)
print('a%b=', a%b)
print('a**b', a**b)

a+b= 7
a-b= -1
a*b= 12
a/b= 0.75
a//b= 0
a%b= 3
a**b 81

# 문자열 연산

In [35]:
# 문자열 더하기(문자열 연결하기)
a = 'good'
b = 'morning'
a+b

'goodmorning'

In [37]:
# 문자열 곱하기(문자열 반복하기)
s = 'ha'
s * 3

'hahaha'

In [38]:
# 문자열과 숫자형 더하기
english = 80
result = '영어점수'+str(english)
print(result)

영어점수80

# 할당 연산자

In [39]:
a = 1

In [40]:
a = b = c = 1
print(a, b, c)

1 1 1

In [41]:
# a,b,c에 각각 1,2,3 할당
a,b,c = 1,2,3
print(a,b,c)

1 2 3

# 복합 할당 연산자

In [42]:
x = 10
x += 20   # x = x+20 = 10+20 = 30
print(x)

30

In [44]:
x = 3
y = 5
x *= x+y   # x = x * (x+y) = 3 * (3 + 5) = 24
print(x)

24

# f스트링으로 출력하기

In [46]:
name = input('이름: ')
print(name, '님, 안녕하세요?')

이름: 이성현
이성현 님, 안녕하세요?

In [47]:
print(f'{name}님 안녕하세요')

이성현님 안녕하세요

In [50]:
age = int(input('나이: '))
print('나이는', age, '살이시군요. 내년이면', age+1, '살이 되시겠네요')

나이: 30
나이는 30 살이시군요. 내년이면 31 살이 되시겠네요

In [51]:
print(f'나이는 {age}살이시군요. 내년이면 {age+1}살이 되시겠네요')

나이는 30살이시군요. 내년이면 31살이 되시겠네요

* 두 수를 입력받아 더하는 프로그램을 작성하기

In [52]:
a = int(input('첫번째숫자: '))
b = int(input('두번째숫자: '))

print(a, '+', b, '=', a+b)

첫번째숫자: 22
두번째숫자: 30
22 + 30 = 52

In [53]:
print(f'{a}+{b}={a+b}')

22+30=52

# 연습문제

* 화씨 온도를 입력받아 섭씨 온도로 변환하는 프로그램을 작성해보세요.
    
    C=(F−32)∗(5/9)

In [54]:
# 화씨온도 입력
f = float(input('화씨온도: '))

# 섭씨온도로 계산
c = (f-32) * (5/9)

# 결과 출력
print(f'화씨온도:{f} --> 섭씨온도:{c}')

화씨온도: 100
화씨온도:100.0 --> 섭씨온도:37.77777777777778

# 문자열 인덱싱

* 양수 인덱스 사용하기

In [55]:
a = 'Hello World'

# 'H' 출력하기
print(a[0])

# 'W' 출력하기
print(a[6])

# 'd' 출력하기
print(a[10])

H
W
d

* 음수 인덱스 사용하기

In [56]:
a = 'Hello World'

# 'H' 출력하기
print(a[-11])

# 'W' 출력하기
print(a[-5])

# 'd' 출력하기
print(a[-1])

H
W
d

In [57]:
* 범위 밖의 인덱스를 사용하면?

Object `사용하면` not found.

In [ ]:
* 범위 밖의 인덱스를 사용하면

In [58]:
a = 'Hello World'
print(a[11])

IndexError: string index out of range

In [59]:
a = 'Hello World'
print(a[-12])

IndexError: string index out of range

# 문자열 슬라이싱

* 양수 인덱싱으로 슬라이싱

In [62]:
a = 'Hello World'
# 'Hello' 출력하기
print(a[0:5])

# 'World' 출력하기
print(a[6:11])

Hello
World

* 음수 인덱싱으로 슬라이싱

In [64]:
a = 'Hello World'

# 'Hello' 출력하기
print(a[-11:-6])

# 'World' 출력하기
print(a[-5:])

Hello
World

* 첫번째와 마지막 인덱싱은 생략가능

In [65]:
a = 'Hello World'

# 'Hello'
print(a[:5])

# 'World'
print(a[6:])

# 'Hello World'
print(a[:])

Hello
World
Hello World

* 한 문자씩 건너뛰어 출력하기

In [66]:
a = 'Hello World'
print(a[::2])  # a[:] 전체 문자열 a[::2] 간격을 2씩 (한 문자씩 건너 뛰어)

HloWrd

* 역순으로 출력하기
    : 간격을 마이너스(-)로 하면 역순으로 출력된다.

In [68]:
a = 'Hello World'
print(a[::-1])

dlroW olleH

# 문자열 함수

## 문자열 교체하기

* 문자열.replace(찾을문자열,교체할문자열)

In [73]:
a = '나는 초코우유 좋아. 초코우유 최고'

# 초코 --> '딸기'로 교체
print(a.replace('초코','딸기'))

나는 딸기우유 좋아. 딸기우유 최고

## 문자의 위치 찾기

* 문자열.find(문자

In [74]:
 a = 'Hello, Python!!!'

# 'e'의 위치 찾기
print(a.find('e'))

# 'l'의 위치 찾기
print(a.find('l'))

1
2

# 소문자로 변환하기

* 문자열.lower()

In [76]:
a = 'Hello, Python!!!'
a.lower()

'hello, python!!!'

# 대문자로 변환하기

* 문자열.upper()

a = 'Hello, Python!!!'
a.upper()

# 문자열 나누기

* 문자열.split(구분자)

In [81]:
phone = '010-123-4567'
phone.split('-')

['010', '123', '4567']

email = 'drwill@naver.com'
email.split('@')

# 연습문제

* 사용자의 영문 이름을 입력받아 성과 이름 순서를 바꾸어서 출력하는 프로그램을 작성하세요.
성과 이름은 공백으로 구분합니다

In [83]:
# 사용자의 영문이름 입력받기 (성과 이름은 공백으로 구분)
full_name = input('영문이름(성과 이름은 공백으로 구분하세요):')

# 공백의 위치 찾기
space = full_name.find(' ')
print(space)
# 성, 이름을 슬라이싱하여 각각 변수에 담기
first_name = full_name[:space]
last_name = full_name[space+1:]

print(first_name)
print(last_name)

# 성, 이름의 순서를 바꾸어 출력하기
print(last_name, first_name)

영문이름(성과 이름은 공백으로 구분하세요):lee sunghyun
3
lee
sunghyun
sunghyun lee